.status{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
    margin-top: 15px !important;
};
.isactive-error{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.isactiveDivStyle > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}